<div class="container-xl px-0">
    <nav class="navbar navbar-expand-lg align-items-end">
        <a class="navbar-brand logo ps-2" href="/index.html">
            <span class="logo-be bs-secondary-color-subtle">BE/</span><span class="logo-bold">BOLD_</span>
        </a>
        <button class="navbar-toggler align-top lh-base fs-1 border-0 my-auto me-3" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarTogglerData" aria-controls="navbarTogglerData"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerData">
            <ul class="navbar-nav ms-auto text-end">
                <li class="nav-item ml-auto">
                    <a class="nav-link ml-auto" href="/assets/sites/secrets.html">
                        <span class="bs-secondary-color-subtle">TELL/</span><span class="color-petrol">SECRETS_</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/assets/sites/accordion.html">
                        <span class="bs-secondary-color-subtle">HERE/</span><span class="color-petrol">ACCORDION_</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>